<div
  [ngClass]="{
    'flex-col': labelPosition === 'top' || labelPosition === 'bottom',
    'flex-row': labelPosition === 'left' || labelPosition === 'right',
    'flex-col-reverse': labelPosition === 'bottom',
    'flex-row-reverse': labelPosition === 'right'
  }"
  class="flex items-center gap-2 w-fit"
>
  <label
    *ngIf="label"
    class="text-sm font-bold"
    [ngClass]="{
    'text-gray-800': !disabled,
    'text-gray-400': disabled,
    'cursor-not-allowed': disabled,
  }"
    >{{ label }}
  </label>

  <button
    role="switch"
    [attr.aria-disabled]="disabled"
    [attr.aria-checked]="value"
    (click)="toggle()"
    [class.opacity-50]="disabled"
    [disabled]="disabled"
    type="button"
    class="relative inline-flex h-6 w-11 items-center rounded-full transition-colors duration-200 ease-in-out"
    [ngClass]="{
      'bg-primary': value,
      'bg-gray-300': !value,
      'cursor-not-allowed': disabled,
    }"
  >
    <span
      class="inline-block h-4 w-4 transform rounded-full bg-white transition-transform duration-200 ease-in-out"
      [ngClass]="{
        'translate-x-6': value,
        'translate-x-1': !value
      }"
    ></span>
  </button>
</div>
<span
  *ngIf="control?.invalid && (control?.touched || control?.dirty)"
  class="text-sm text-red-500"
>
  {{ getErrorMessage() }}
</span>
