<div class="flex flex-col gap-1">
  <div class="flex flex-row justify-between">
    <label
      *ngIf="label"
      class="text-sm font-bold"
      [ngClass]="{
        'text-gray-400': disabled,
        'text-gray-800': !disabled,
        'cursor-not-allowed': disabled
      }"
    >
      {{ label }} <span *ngIf="required" class="text-red-500">*</span>
    </label>

    <div
      *ngIf="initialType === 'password'"
      class="cursor-pointer flex"
      (click)="togglePassword()"
    >
      <lucide-icon
        class="text-primary mr-1"
        [img]="showPassword ? Eye : EyeOff"
        size="16"
      />
    </div>
  </div>

  <div
    class="flex items-center border border-gray-300 rounded-lg p-2 shadow-sm focus-within:border-primary focus-within:ring-1 focus-within:ring-primary"
    [ngClass]="{
      'bg-white': !disabled,
      'bg-gray-200': disabled,
      'cursor-not-allowed': disabled
    }"
  >
    <ng-container *ngIf="isIconLeft">
      <lucide-icon class="text-gray-300 mr-1" [img]="icon" />
      <span class="text-gray-300 select-none mr-1">|</span>
    </ng-container>

    <input
      #inputRef
      class="flex-1 focus:outline-none text-sm text-gray-900 placeholder-gray-400"
      [ngClass]="{
        'bg-transparent': !disabled,
        'bg-gray-200': disabled,
        'cursor-not-allowed': disabled
      }"
      [attr.type]="type"
      [attr.placeholder]="placeholder"
      [mask]="mask"
      [disabled]="disabled"
      [value]="value"
      (maskedInput)="onMaskedInput($event)"
      (input)="onInput($event)"
      (blur)="onBlur()"
    />

    <ng-container *ngIf="isIconRight">
      <span class="text-gray-300 select-none ml-1">|</span>
      <lucide-icon class="text-gray-300 ml-1" [img]="icon" />
    </ng-container>
  </div>
  <span
    *ngIf="control?.invalid && (control?.touched || control?.dirty)"
    class="text-sm text-red-500"
  >
    {{ getErrorMessage() }}
  </span>
</div>
