<div
  [ngClass]="{
    'flex-col': labelPosition === 'top' || labelPosition === 'bottom',
    'flex-row': labelPosition === 'left' || labelPosition === 'right',
    'flex-col-reverse': labelPosition === 'bottom',
    'flex-row-reverse': labelPosition === 'right'
  }"
  class="flex items-center gap-2 w-fit"
>
  <label
    *ngIf="label"
    class="text-sm font-bold"
    [ngClass]="{
      'text-[var(--text)]': !disabled,
      'text-[var(--border)]': disabled,
      'cursor-not-allowed': disabled
    }"
    >{{ label }}</label
  >

  <button
    role="radio"
    [attr.aria-checked]="value === checkedValue"
    [disabled]="disabled"
    type="button"
    (click)="setValue()"
    class="w-5 h-5 rounded-full border-2 transition-colors duration-200 ease-in-out flex items-center justify-center"
    [ngClass]="{
      'border-[var(--primary)]': value === checkedValue,
      'border-[var(--border)]': value !== checkedValue,
      'cursor-not-allowed opacity-50': disabled
    }"
  >
    <div
      class="w-2.5 h-2.5 rounded-full transition-opacity duration-200"
      [ngClass]="{
        'bg-[var(--primary)] opacity-100': value === checkedValue,
        'opacity-0': value !== checkedValue
      }"
    ></div>
  </button>
</div>
