<div class="flex flex-col h-screen">
  <app-logged-header
    class="flex-none"
    (clicked)="sidebar.handleToggleButton()"
  />

  <div class="relative h-full flex flex-1 overflow-hidden md:p-4">
    <app-sidebar #sidebar>
      <app-sidebar-item
        [icon]="Home"
        label="{{ 'home' | translate }}"
        [routerLink]="['/']"
        [collapsed]="sidebar.isCollapsed"
      />
      <app-sidebar-item
        [icon]="Settings"
        label="{{ 'settings' | translate }}"
        [collapsed]="sidebar.isCollapsed"
      >
        <app-sidebar-item
          label="Marcus"
          [routerLink]="['/mv']"
          [collapsed]="sidebar.isCollapsed"
        />
        <app-sidebar-item
          label="Carv"
          [routerLink]="['/carv']"
          [collapsed]="sidebar.isCollapsed"
        />
      </app-sidebar-item>
    </app-sidebar>

    <main
      [ngClass]="{
        'overflow-clip': sidebar.isOpen && sidebar.isMobile,
        'overflow-y-auto': !sidebar.isMobile || (!sidebar.isOpen && sidebar.isMobile),
        'opacity-80': sidebar.isOpen && sidebar.isMobile,
      }"
      class="transition-all duration-300 flex-1 ease-in-out lg:ml-4"
    >
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
