<a
  *ngIf="!hasChildren"
  class="flex items-center gap-3 px-1 py-2 rounded-lg hover:bg-primary-200 text-sm transition"
  [routerLink]="routerLink"
  routerLinkActive="bg-primary-600"
>
  <lucide-icon *ngIf="icon" [name]="icon" class="w-5 h-5" />
  <span
    *ngIf="!collapsed"
    class="whitespace-nowrap text-sm font-medium tracking-tight"
    >{{ label }}</span
  >
</a>

<div *ngIf="hasChildren">
  <button
    (click)="toggle()"
    class="flex items-center justify-between w-full px-1 py-2 rounded-lg hover:bg-primary-200 text-sm transition"
  >
    <div class="flex items-center gap-3">
      <lucide-icon *ngIf="icon" [img]="icon" class="w-5 h-5" />
      <span
        *ngIf="!collapsed"
        class="whitespace-nowrap text-sm font-medium tracking-tight"
        >{{ label }}</span
      >
    </div>
    <lucide-icon
      *ngIf="!collapsed"
      [img]="open ? ChevronDown : ChevronRight"
      class="w-4 h-4"
    />
  </button>
  <div *ngIf="open && !collapsed" class="ml-6 mt-1 space-y-1">
    <ng-content></ng-content>
  </div>
</div>
