<a
  *ngIf="!hasChildren"
  class="flex items-center gap-3 px-1 py-2 rounded-lg text-sm transition"
  [routerLink]="routerLink"
  [ngClass]="{
    'bg-[var(--primary-200)]': isActive,
    'hover:bg-[var(--primary-200)]': !isActive
  }"
>
  <lucide-icon *ngIf="icon" [name]="icon" class="w-5 h-5" />
  <span
    *ngIf="!collapsed"
    class="whitespace-nowrap text-sm font-semibold tracking-tight px-1"
    >{{ label }}</span
  >
</a>

<div *ngIf="hasChildren">
  <button
    (click)="toggle()"
    class="flex items-center justify-between w-full px-1 py-2 rounded-lg text-sm transition"
    [ngClass]="{
      'bg-[var(--primary-200)]': isActive,
      'hover:bg-[var(--primary-200)]': !isActive
    }"
  >
    <div class="flex items-center gap-3">
      <lucide-icon *ngIf="icon" [img]="icon" class="w-5 h-5" />
      <span
        *ngIf="!collapsed"
        class="whitespace-nowrap text-sm font-semibold tracking-tight px-1"
        >{{ label }}</span
      >
    </div>
    <lucide-icon
      *ngIf="!collapsed"
      [img]="open ? ChevronDown : ChevronRight"
      class="w-4 h-4"
    />
  </button>
  <div *ngIf="open && !collapsed" class="ml-6 mt-1 space-y-1">
    <ng-content></ng-content>
  </div>
</div>
