<div class="m-2">
  <app-input
    label="Nome"
    placeholder="Digite seu nome"
    [required]="true"
    type="text"
    class="mt-3"
    [icon]="User"
  />

  <div class="flex gap-4 mt-3">
    <app-input
      class="w-full"
      label="CPF"
      placeholder="Digite seu CPF"
      [required]="true"
      type="text"
      mask="000.000.000-00"
      [icon]="Signature"
    />

    <app-input
      class="w-full"
      label="Telefone"
      placeholder="Digite seu telefone"
      [required]="true"
      type="text"
      mask="(00) 00000-0000"
      [icon]="Phone"
    />

    <app-input
      class="w-full"
      label="Email"
      placeholder="Digite seu email"
      [required]="true"
      type="text"
      [icon]="Mail"
    />
  </div>

  <div class="flex gap-4 mt-3">
    <app-input
      class="w-full"
      label="Senha"
      placeholder="Digite sua senha"
      [required]="true"
      type="password"
      [icon]="LockKeyhole"
    />

    <app-input
      class="w-full"
      label="Confirmar Senha"
      placeholder="Confirme sua senha"
      [required]="true"
      type="password"
      [icon]="LockKeyhole"
    />
  </div>

  <div class="flex gap-4 mt-3">
    <app-switch label="Ativo" [disabled]="false" labelPosition="top" />
  </div>
</div>
