<aside
  (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseLeave()"
  [ngClass]="{
    'translate-x-0': isOpen,
    '-translate-x-full': !isOpen && isMobile,
    'w-64': !isCollapsed,
    'w-16': isCollapsed,
    'absolute top-0 left-0 h-full min-h-full z-50': isMobile,
    'sticky top-0 h-full': !isMobile
  }"
  class="bg-[var(--primary)] space-y-2 text-white p-4 transition-all duration-300 ease-in-out rounded-r-2xl md:rounded-2xl"
>
  <div class="space-y-2 overflow-y-auto h-full pr-1">
    <ng-content></ng-content>
  </div>
</aside>
