@import "tailwindcss";


@theme {
  --color-primary: #232264;
  --color-primary-100: #c1b2ff;
  --color-primary-200: #d6a3fe;
  --color-primary-300: #9a8ed8;
  --color-primary-400: #726ab2;
  --color-primary-500: #4b468b;
  --color-secondary: #00BFFF;
  --color-error: #FF3D00;
  --color-success: #00FF3D;
  --color-warning: #FF9A00;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6a3fe;
  border-radius: 9999px;
  border: 2px solid transparent;
  background-clip: content-box;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #d6a3fe transparent;
}

input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}

body {
  font-family: 'DM Sans', sans-serif;
}


