@import "tailwindcss";


/* default-theme */
/* @theme {
  --color-primary: #232264;
  --color-primary-100: #c1b2ff;
  --color-primary-200: #d6a3fe;
  --color-primary-300: #9a8ed8;
  --color-primary-400: #726ab2;
  --color-primary-500: #4b468b;
  --color-secondary: #00BFFF;
  --color-error: #FF3D00;
  --color-success: #00FF3D;
  --color-warning: #FF9A00;
} */

:root {
  --primary: #232264;
  --primary-50: #E4E4F4;
  --primary-100: #C1C1EA;
  --primary-200: #9D9DE0;
  --primary-300: #7979D6;
  --primary-400: #5555CC;
  --primary-500: #232264;
  --primary-600: #1C1C52;
  --primary-700: #161640;
  --white: #F9FAFB;
  --black: #111827;

  --info: #0099FF;
  --error: #FF3D00;
  --success: #00FF3D;
  --warning: #FF9A00;

  --background: #F9FAFB;
  --surface: #FFFFFF;
  --border: #D0D5DB;
  --border-50: 	#E2E6EA;
  --text: #111827;
}

/* 🌚 Dark Theme */
html.dark {
  --primary: #6366F1;
  --primary-50: #E0E7FF;
  --primary-100: #C7D2FE;
  --primary-200: #A5B4FC;
  --primary-300: #818CF8;
  --primary-400: #6366F1;
  --primary-500: #4F46E5;
  --primary-600: #4338CA;
  --primary-700: #3730A3;
  --white: #F9FAFB;
  --black: #111827;

  --info: #0EA5E9;
  --error: #EF4444;
  --success: #22C55E;
  --warning: #F59E0B;

  --background: #0F172A;
  --surface: #1E293B;
  --border: #334155;
  --border-50: 	#CBD5E1;
  --text: #F9FAFB;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6a3fe;
  border-radius: 9999px;
  border: 2px solid transparent;
  background-clip: content-box;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #d6a3fe transparent;
}

input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}

body {
  font-family: 'DM Sans', sans-serif;
}


